@charset "Utf-8";

/* Todas as demais mídias */
/* Pequenas telas até 480px
   Tablet 481px a 768px
   Desktop 769px até 1279px
   Telas grandes acima de 1280px  
*/

@media print {
    body {
        background-image: url(../imagens/back-print.jpg);
    }
    img#img-phone { display: none; }
    img#img-pc { display: none; }
    img#img-print { display: block; }
    img#img-tablet { display: none; }
    img#img-tv { display: none; }
}

@media screen and (min-width: 576px) and (max-width: 900px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#img-phone { display: none; }
    img#img-pc { display: none; }
    img#img-print { display: none; }
    img#img-tablet { display: block; }
    img#img-tv { display: none; }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#img-phone { display: none; }
    img#img-pc { display: block; }
    img#img-print { display: none; }
    img#img-tablet { display: none; }
    img#img-tv { display: none; }
}

@media screen and (min-width: 1300px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#img-phone { display: none; }
    img#img-pc { display: none; }
    img#img-print { display: none; }
    img#img-tablet { display: none; }
    img#img-tv { display: block; }
}